
/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes go here */

// Colours
$primary: #d0bb73;
// $secondary: #d0e0ee;

// Breakpoints
$tablet: 724px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

/* Import the rest of Bulma */
@import '~bulma';


// Global Styles
.navbar {
  padding: 1rem !important;
}

.section-title {
  font-family: 'Crimson Pro', serif;
  font-size: 48px;
  margin-bottom: 4rem;
}

.tour-list {
  .tour-event {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    margin: 1rem;
  }
}
