
/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes go here */

// Colours
$primary: #d0bb73;
// $secondary: #d0e0ee;

// Breakpoints
$tablet: 724px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

/* Import the rest of Bulma */
@import '~bulma';

html {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a,
p,
label {
  font-family: 'Maven Pro', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5 {
  font-family: 'Crimson Pro', serif;
}

.vertically-centered {
  margin: 0 auto;
}

// Global Styles

.section-title {
  font-size: 48px;
  margin-bottom: 4rem;
}

.tour-list {
  .tour-event {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    margin: 1rem;
  }
}

.markdown {
  p {
    margin-top: 1rem !important;
    strong {
      color: inherit
    }
  }


}
